<div class="container">
  {{discourse-banner user=currentUser banner=site.banner}}
</div>

<div class="list-controls">
  <div class="container">
    {{outlet "navigation-bar"}}
  </div>
</div>


<div class="container list-container {{if siteSettings.sidebar_enable "has-sidebar"}} {{if siteSettings.sidebar_enable_second_col "has-secondary-sidebar"}}">
  <div class="row">
    <div class="full-width">
      {{conditional-loading-spinner condition=loading}}
      <div id="header-list-area">
        {{outlet "header-list-container"}}
      </div>
    </div>
  </div>
  <div class="row {{if loading "hidden"}}">
    <div class="full-width">
      <div id="list-area">
        {{plugin-outlet name="discovery-list-container-top"
                        args=(hash category=category)}}
        {{outlet "list-container"}}
      </div>
    </div>
  </div>
</div>

{{#if siteSettings.sidebar_enable}}
  <div class="sidebar">
    {{mount-widget widget="sidebar-items"}}
  </div>
{{/if}}

{{#if siteSettings.sidebar_enable_second_col}}
  <div class="sidebar-secondary">
    {{mount-widget widget="sidebar-secondary"}}
  </div>
{{/if}}

{{plugin-outlet name="discovery-below"}}
